* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Part 1 */

#container1{
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.child1 {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.orange{
    background-color: rgb(255,113,0);
}

.peach{
    background-color: rgb(255,178,109);
}

.brown{
    background-color: rgb(168,74,0);
}

/* Part 2 */

#container2{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.child2 {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.light_gray{
    background-color: rgb(204,204,204);
}

.gray{
    background-color: rgb(153,153,153);
}

.dark_gray{
    background-color: rgb(102,102,102);
}

.black{
    background-color: rgb(51,51,51);
}

/* Part 3 */

#container3{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 364px;
    height: 162px;
    border: 1px solid blue;

}

.child3{
    width: 20px;
    height: 20px;
}

.white{
    background-color: white;
}

.lightred{
    background-color: rgb(255, 0, 0, 0.3);
}

.red{
    background-color: rgb(255, 0, 0, 0.9);
}